body{
    background: linear-gradient(to right, #0f2027, #203a43, #2c5364);
}

.navbar {
    display: flex;
    justify-content: center;
    padding: 10px;
    z-index: 2;
}

.navbar a {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    position: relative;
}

.navbar a::after {
    display: flex;
    width: 0;
    height: 2px;
    background: white;
    transition: width .3s;
    position: relative;
    bottom: 0;
    left: 0;
}



.card {
    max-width: 300px;
    min-height: 200px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 500px;
    height: 300px;
    padding: 35px;
    border: 1px solid rgba(255, 255, 255, .25);
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.45);
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(15px);
  }